.page.theme_dark {
  background-color: var(--background-color);
  background-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --currentColor: #f1b2ce;
  --title-color: #000028;
  --background-color: #000028;
  --header-title: #DB00FF;
  --theme-color: #ff0070;

  body.dark-theme .rec-indicator {
    display: block;
  }

  body.dark-theme .rec-indicator {
    display: block;
  }

  .rec-indicator {
    display: block;
  }

  .header-description {
    color: var(--title-color);
  }

  .title-decor {
    color: var(--title-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .section-title {
    color: var(--theme-color);
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: var(--background-color);
    background-image: url('../images/cover-image-dark.png');
    --accent-color: #ff0070;
    --currentColor: #f1b2ce;
    --title-color: #000028;
    --background-color: #000028;
    --header-title: #DB00FF;
    --theme-color: #ff0070;
  }

  body.dark-theme .rec-indicator {
    display: block;
  }

  body.dark-theme .rec-indicator {
    display: block;
  }

  .rec-indicator {
    display: block;
  }

  .header-description {
    color: var(--title-color);
  }

  .title-decor {
    color: var(--title-color);
  }

  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .section-title {
    color: var(--theme-color);
  }
}