.page.theme_dark {
  background-image: url('../images/cover-image-dark.png');
  --accent-color: #ff0070;
  --currentColor: #f1b2ce;
  --title-color: #000028;
  --background-color: #000028;
  --header-title: #DB00FF;
  --theme-color: #ff0070;
  --btn-border: rgba(255, 0, 112, 0.4);

  body.dark-theme .rec-indicator {
    display: block;
  }

  .rec-indicator {
    display: block;
  }

}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url('../images/cover-image-dark.png');
    --accent-color: #ff0070;
    --currentColor: #f1b2ce;
    --title-color: #000028;
    --background-color: #000028;
    --header-title: #DB00FF;
    --theme-color: #ff0070;
    --btn-border: rgba(255, 0, 112, 0.4);
  }

  body.dark-theme .rec-indicator {
    display: block;
  }

  .rec-indicator {
    display: block;
  }
}