.page.theme_light {
  background-color: var(--background-color);
  background-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --currentColor: #353430;
  --background-color: #fff1f7;
  --header-title: #ffc2e6;
  --theme-color: #353430;
}

.header__theme-menu-button {
  color: var(--theme-color);
}


.subtitle {
  color: var(--theme-color);
}

.light-theme .rec-indicator {
  display: none;
}


@media (prefers-color-scheme: dark) {
  .page.theme_light {
    background-color: var(--background-color);
    background-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --currentColor: #353430;
    --background-color: #fff1f7;
    --header-title: #ffc2e6;
    --theme-color: #353430;


    .header__theme-menu-button {
      color: var(--theme-color);
    }
  }

  .light-theme .rec-indicator {
    display: none;
  }

  .subtitle {
    color: var(--theme-color);
  }

  .section-title {
    color: var(--theme-color);
  }
}