.page.theme_light {
  background-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --currentColor: #353430;
  --background-color: #fff1f7;
  --header-title: #ffc2e6;
  --theme-color: #353430;
  --title-color: #353430;
  --btn-border: rgba(50, 49, 45, 0.4);
}

.rec-indicator {
  display: none;
}

.light-theme .rec-indicator {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page.theme_light {
    background-image: url('../images/cover-image-light.png');
  }
}
